# macOS
.DS_Store
._*

# Xcode
build/
DerivedData/
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xcuserstate
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods (not used, but ignore just in case)
Pods/

# Carthage
Carthage/Build/
Carthage/Checkouts/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/*/.png
fastlane/test_output

# Secrets & API Keys 
Services/Secrets.swift
GoogleService-Info.plist
GoogleService-Info*.plist
*.env
.env*
secrets.plist